@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;400;500;700;900&display=swap');

body {
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

.card-collection {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
}

.card {
    cursor: pointer;
}

.standout {
    box-shadow: 1px 3px 3px 4px #6e6e6e;
}

h1,h2,h3,h4,h5,p {
    text-align: center;
}